@import '../../_variables.scss';

.container {
  background-color: $highlightColor;
  box-shadow: $boxShadow;
  width: auto;
  height: auto;
  justify-content: center;
  margin: 0;
}

.image {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
