@import '../../_variables.scss';

.container {
  background-color: $highlightColor;
  box-shadow: $boxShadow;
  justify-self: center;
  @media (max-width: 699px) {
    width: auto;
    height: auto;
    margin: 0;
  }
  @media (min-width: 700px) and (max-width: 999px) {
    width: auto;
    height: auto;
    margin: 0;
  }
  @media (min-width: 1000px) {
    width: 300px;
    height: auto;
    justify-content: center;
    margin: 0;
  }
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
}
