@import '../../_variables.scss';

.container {

}

.info {
  display: flex;
  justify-content: space-between;
  @media (max-width: 699px) {
    padding: $mobileMargins;
    width: calc(100% - calc(#{$mobileMargins} * 2));
  }
  @media (min-width: 700px) and (max-width: 999px) {
    padding: $midMargins;
    width: calc(100% - calc(#{$midMargins} * 2));
  }
  @media (min-width: 1000px) {
    padding: $fullMargins;
    width: calc(100% - calc(#{$fullMargins} * 2));
  }
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  :nth-child(2) {
    color: $detailLightColor;
    font-size: 0.7rem;
  }
}

.buttons {
  display: flex;
  & > * {
    margin-left: 15px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.flagSvg {
  width: 25px;
  margin-left: 15px;
  margin-top: 5px;
}
