/*
 * Project Variables File
 * ----------------------
 * Sizes:
 *  full: width >= 1000px
 *  mid: width >= 700px
 *  mobile: width < 700px
**/

/*
 *  Layout
**/
/*

@media (max-width: 699px) {

}
@media (min-width: 700px) and (max-width: 999px) {

}
@media (min-width: 1000px) {

}

*/

/* Sizes */
// Mobile 0 through 699px;
$mobile: 699px;
// Mid 700px through 1000px; app container jumps to 700px
$mid: 700px;
// Full 1000px through Infinity; app container jumps to 1000px
$full: 1000px;


/* Margins */
$mobileMargins: 10px;
$midMargins: 15px;
$fullMargins: 20px;

$backgroundColor: #F1F1F1;
$highlightColor: #E8E8E8;
$detailColor: #707070;
$detailLightColor: #9E9E9E;
$boxShadowColor: rgba(0, 0, 0, 0.16);

$boxShadow: 5px 5px 15px $boxShadowColor;
