/*
 * Project Variables File
 * ----------------------
 * Sizes:
 *  full: width >= 1000px
 *  mid: width >= 700px
 *  mobile: width < 700px
**/

/*
 *  Layout
**/
/*

@media (max-width: 699px) {

}
@media (min-width: 700px) and (max-width: 999px) {

}
@media (min-width: 1000px) {

}

*/

/* Margins */
$mobileMargins: 10px;
$midMargins: 15px;
$fullMargins: 20px;

$backgroundColor: #F1F1F1;
$highlightColor: #E8E8E8;
$detailColor: #707070;
$boxShadowColor: rgba(0, 0, 0, 0.16);

$boxShadow: 5px 5px 15px $boxShadowColor;
