// Variables
@import './_variables.scss';

.App {
  @media (min-width: 700px) {
    width: 700px;
    margin: 0 auto;
  }
  @media (min-width: 1000px) {
    width: 1000px;
    margin: 0 auto;
  }
  background-color: #F1F1F1;
  //outline: 1px solid #707070;
  box-shadow: $boxShadow;
}

.container {
  @media (max-width: 699px) {
    padding: 0 $mobileMargins;
  }
  @media (min-width: 700px) and (max-width: 999px) {
    padding: 0 $midMargins;
  }
  @media (min-width: 1000px) {
    padding: 0 $fullMargins;
  }
}
